.modal {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transform: translate3d(0, -100%, 0);
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.Modal_view {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(1px);
  background-color: cotheme($color-all, .8);
}

.Modal_container {
  position: absolute;
  overflow: auto;
  max-width: 400px;
  top: 0;
  bottom: 0;
  max-height: 395px;
  background-color: $color-white;
  border-radius: .5rem;
  margin: 0 auto;
  padding: 1.1rem;
  left: 25%;
  right: 25%;
  top: 20%;
  bottom: 25%;
  line-height: 3rem;
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: .2rem;
  }
  .Register_label {
    font-size: 1rem;
  }
  .Register_input {
    margin-top: 5px;
    width: 100%;
    padding: 1rem;
    &:focus {
      outline-color: $color-light;
    }
  }
  .submit {
    @include button_submit;
    background-color: $color-light;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    // color: #c9243f;
    color: #340000;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .2s;
  }
}

.notVisible {
  animation-name: fade;
  animation-duration: 1s;
  transition: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.openModalRegister {
  cursor: pointer;
}

.Visible {
  display: flex;
  animation-name: fade;
  animation-duration: 1s;
  transition: .5s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cancel {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  &:hover {
    color: $color-light;
  }
}

@keyframes fade {
  0% {
    display: initial;
    transform: translate3d(0, 0%, 0);
  }
  100% {
    display: none;
    transform: translate3d(0, -100%, 0);
  }
}

@media screen and (max-width: 600px) {
  .Modal_container {
    max-width: 100vw;
    width: 100vw;
    left: 0;
  }
}
